body {
    margin: 0;
}

ul {
    list-style: none; 
/* gets rid of bullets */
    display: flex;
    background-color: pink;
    margin: 0;
    padding: 10px 0px;
    justify-content: flex-end;
}

li a {
    /* gets rid of under lining */
    text-decoration: none;
    color: black;
    /* first value: top boto */
    padding: 10px 30px;
}

/* when you hover */
li a:hover {
    background-color: turquoise;
}

/* when you click on link */
li a:active {
    background-color: red;
    color: black;
}




@media screen and (max-width: 800px)
{
    body{
        background-color: limegreen;
    }
    ul{
        flex-direction: column;
    }
    li a{
        width: 100vw;
    }
    
}