body {
    background-image: url('computer.jpg');
    background-repeat: no-repeat;
    height: auto;
    background-size: 80%;
    background-position: top;
}

/* styling overlay 1, this one is an image */
#overlay_1 {
    border-style: solid;
    border-color: black;
    height: 200px;
    max-width: 19%;
    position: relative;
    left: 10%;
    background-color: black;
}

/* styling overlay 2, this one has text */
#overlay_2 {
    border-style: solid;
    border-color: black;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color:white;
    padding: 1%;
    max-width: 17%;
    position: relative;
    left: 71%;
    
}

img {
    max-width: 100%;
    max-height: 100%;
}